<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <description>Spring MVC Configuration</description>

    <!-- 加载配置属性文件 -->
    <context:property-placeholder ignore-unresolvable="true" location="classpath:tripweb.properties"/>

    <!--最小支持原则-->
    <!-- 使用 Annotation 自动注册 Bean,只扫描 @Controller -->
    <context:component-scan base-package="cn.zm.trip.web" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 默认的注解映射的支持 少了controller注解用不起来-->
    <mvc:annotation-driven />

    <!-- 定义视图文件解析 视图文件解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--前缀-->
        <property name="prefix" value="${web.view.prefix}"/>
        <!--后缀-->
        <property name="suffix" value="${web.view.suffix}"/>
    </bean>

    <!-- 静态资源映射 **代表全目录匹配-->
    <mvc:resources mapping="/static/**" location="/static/" cache-period="31536000"/>

    <!-- 上传文件拦截，设置最大上传文件大小 10M = 10*1024*1024(B) = 10485760 bytes -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--最大-->
        <property name="maxUploadSize" value="${web.maxUploadSize}"/>
        <!--最小-->
        <property name="maxInMemorySize" value="1"/>
        <!--默认字符集-->
        <property name="defaultEncoding" value="utf-8"/>
    </bean>

    <!--&lt;!&ndash;拦截器配置 执行顺序由下自上&ndash;&gt;-->
    <!--<mvc:interceptors>-->
        <!--&lt;!&ndash;login interceptter&ndash;&gt;-->
        <!--<mvc:interceptor>-->
            <!--&lt;!&ndash;拦截所有路径请求&ndash;&gt;-->
            <!--<mvc:mapping path="/**"/>-->
            <!--&lt;!&ndash;除了登录页面&ndash;&gt;-->
            <!--<mvc:exclude-mapping path="/login" />-->
            <!--&lt;!&ndash;除开静态资源路径&ndash;&gt;-->
            <!--<mvc:exclude-mapping path="/static/**" />-->
            <!--&lt;!&ndash;<bean class="cn.ziming.my.shop.web.interceptor.LoginInterceptor" />&ndash;&gt;-->
        <!--</mvc:interceptor>-->

        <!--&lt;!&ndash;permission interceptter&ndash;&gt;-->
        <!--<mvc:interceptor>-->
            <!--&lt;!&ndash;拦截所有路径请求&ndash;&gt;-->
            <!--<mvc:mapping path="/**"/>-->
            <!--&lt;!&ndash;<bean class="cn.ziming.my.shop.web.interceptor.PermissionInterceptor" />&ndash;&gt;-->
        <!--</mvc:interceptor>-->

    <!--</mvc:interceptors>-->
</beans>