<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zm.trip.mapper.BaseAccountMapper">
    <insert id="add"
            useGeneratedKeys="true"
            keyProperty="web_id"
            parameterType="cn.zm.trip.entity.BaseAccount">
        insert into base_account(
                id,
                username,
                password
        )values(
                #{id},
                #{username},
                #{password}
        )
    </insert>

    <select id="get"
            parameterType="cn.zm.trip.entity.BaseAccount"
            resultType="cn.zm.trip.entity.BaseAccount">
        select
            v.id,
            v.username,
            v.password
        from
        base_account v
        where
        1 = 1
            <if test="id != null and id != ''"> and v.id
                = #{id}</if>
            <if test="username != null and username != ''"> and v.username
                = #{username}</if>
            <if test="password != null and password != ''"> and v.password
                = #{password}</if>
    </select>

    <select id="getById"
            parameterType="cn.zm.trip.entity.BaseAccount"
            resultType="cn.zm.trip.entity.BaseAccount">
        select
            v.id,
            v.username,
            v.password
        from
        base_account v
        where
        1 = 1
        and v.web_id = #{web_id}
        limit 1
    </select>

    <update id="update"
            parameterType="cn.zm.trip.entity.BaseAccount">
        update base_account v
        set v.web_id = #{web_id}
                <if test="id != null and id != ''"> , v.id
                    = #{id}</if>
                <if test="username != null and username != ''"> , v.username
                    = #{username}</if>
                <if test="password != null and password != ''"> , v.password
                    = #{password}</if>
        where v.web_id = #{web_id}
    </update>

    <delete id="del"
            parameterType="java.lang.String">
        delete from base_account
        where web_id = #{web_id}
    </delete>
</mapper>
