<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zm.trip.mapper.BaseUserMapper">
    <insert id="add"
            useGeneratedKeys="true"
            keyProperty="web_id"
            parameterType="cn.zm.trip.entity.BaseUser">
        insert into base_user(
                id,
                name,
                avatar,
                intro,
                phone
        )values(
                #{id},
                #{name},
                #{avatar},
                #{intro},
                #{phone}
        )
    </insert>

    <select id="get"
            parameterType="cn.zm.trip.entity.BaseUser"
            resultType="cn.zm.trip.entity.BaseUser">
        select
            v.id,
            v.name,
            v.avatar,
            v.intro,
            v.phone
        from
        base_user v
        where
        1 = 1
            <if test="id != null and id != ''"> and v.id
                = #{id}</if>
            <if test="name != null and name != ''"> and v.name
                = #{name}</if>
            <if test="avatar != null and avatar != ''"> and v.avatar
                = #{avatar}</if>
            <if test="intro != null and intro != ''"> and v.intro
                = #{intro}</if>
            <if test="phone != null and phone != ''"> and v.phone
                = #{phone}</if>
    </select>

    <select id="getById"
            parameterType="cn.zm.trip.entity.BaseUser"
            resultType="cn.zm.trip.entity.BaseUser">
        select
            v.id,
            v.name,
            v.avatar,
            v.intro,
            v.phone
        from
        base_user v
        where
        1 = 1
        and v.web_id = #{web_id}
        limit 1
    </select>

    <update id="update"
            parameterType="cn.zm.trip.entity.BaseUser">
        update base_user v
        set v.web_id = #{web_id}
                <if test="id != null and id != ''"> , v.id
                    = #{id}</if>
                <if test="name != null and name != ''"> , v.name
                    = #{name}</if>
                <if test="avatar != null and avatar != ''"> , v.avatar
                    = #{avatar}</if>
                <if test="intro != null and intro != ''"> , v.intro
                    = #{intro}</if>
                <if test="phone != null and phone != ''"> , v.phone
                    = #{phone}</if>
        where v.web_id = #{web_id}
    </update>

    <delete id="del"
            parameterType="java.lang.String">
        delete from base_user
        where web_id = #{web_id}
    </delete>
</mapper>
