<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zm.trip.mapper.RelaUserAccountMapper">
    <insert id="add"
            useGeneratedKeys="true"
            keyProperty="web_id"
            parameterType="cn.zm.trip.entity.RelaUserAccount">
        insert into rela_user_account(
                id,
                userId,
                accountId
        )values(
                #{id},
                #{userId},
                #{accountId}
        )
    </insert>

    <select id="get"
            parameterType="cn.zm.trip.entity.RelaUserAccount"
            resultType="cn.zm.trip.entity.RelaUserAccount">
        select
            v.id,
            v.userId,
            v.accountId
        from
        rela_user_account v
        where
        1 = 1
            <if test="id != null and id != ''"> and v.id
                = #{id}</if>
            <if test="userId != null and userId != ''"> and v.userId
                = #{userId}</if>
            <if test="accountId != null and accountId != ''"> and v.accountId
                = #{accountId}</if>
    </select>

    <select id="getById"
            parameterType="cn.zm.trip.entity.RelaUserAccount"
            resultType="cn.zm.trip.entity.RelaUserAccount">
        select
            v.id,
            v.userId,
            v.accountId
        from
        rela_user_account v
        where
        1 = 1
        and v.web_id = #{web_id}
        limit 1
    </select>

    <update id="update"
            parameterType="cn.zm.trip.entity.RelaUserAccount">
        update rela_user_account v
        set v.web_id = #{web_id}
                <if test="id != null and id != ''"> , v.id
                    = #{id}</if>
                <if test="userId != null and userId != ''"> , v.userId
                    = #{userId}</if>
                <if test="accountId != null and accountId != ''"> , v.accountId
                    = #{accountId}</if>
        where v.web_id = #{web_id}
    </update>

    <delete id="del"
            parameterType="java.lang.String">
        delete from rela_user_account
        where web_id = #{web_id}
    </delete>
</mapper>
