<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.zm.trip.web.dao.AdminDao">
	<!--片段-->
	<sql id="AdminColumns">
        tp_aid as aid,
        tp_aname as aname,
        tp_aemail as aemail,
        tp_apwd as apwd
    </sql>

	<!--查询用户-->
	<select id="selectAdmin" resultType="Admin">
		SELECT
		<include refid="AdminColumns"/>
		FROM
		trip_web_db.tp_admin
		where
		tp_aemail = #{aemail}
		and
		tp_apwd = #{apwd}
	</select>

	<!--查询Admin-->
	<select id="selectAll" resultType="Admin">
		SELECT
		*
		FROM trip_web_db.tp_admin
	</select>
</mapper>