<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zm.trip.web.dao.ViewPointDao">
	<!--ViewPoint-->
	<resultMap id="BaseResultMap" type="cn.zm.trip.web.domain.ViewPoint">
		<id column="tp_vid" jdbcType="INTEGER" property="tpVid"/>
		<result column="tp_title" jdbcType="VARCHAR" property="tpTitle"/>
		<result column="tp_vname" jdbcType="VARCHAR" property="tpVname"/>
		<result column="tp_vtype" jdbcType="VARCHAR" property="tpVtype"/>
		<result column="tp_vpic" jdbcType="VARCHAR" property="tpVpic"/>
		<result column="tp_vphone" jdbcType="VARCHAR" property="tpVphone"/>
		<result column="tp_level" jdbcType="VARCHAR" property="tpLevel"/>
		<result column="tp_price" jdbcType="INTEGER" property="tpPrice"/>
		<result column="tp_location" jdbcType="VARCHAR" property="tpLocation"/>
		<result column="tp_zip" jdbcType="VARCHAR" property="tpZip"/>
		<result column="tp_opentime" jdbcType="VARCHAR" property="tpOpentime"/>
		<result column="tp_creatTime" jdbcType="TIMESTAMP" property="tpCreattime"/>
	</resultMap>

	<!--Words-->
	<resultMap id="WordsBaseMap" type="cn.zm.trip.web.domain.Words">
		<id column="lw_id" property="lw_id" jdbcType="INTEGER"/>
		<result column="lw_name" property="lw_name" jdbcType="VARCHAR"/>
		<result column="lw_date" property="lw_date" jdbcType="VARCHAR"/>
		<result column="lw_content" property="lw_content" jdbcType="VARCHAR"/>
		<result column="lw_for_name" property="lw_for_name" jdbcType="VARCHAR"/>
		<result column="lw_for_article_id" property="lw_for_article_id" jdbcType="VARCHAR"/>
		<result column="lw_forumId" property="lw_forumId" jdbcType="VARCHAR"/>
		<result column="lw_hotel_id" property="lw_hotel_id" jdbcType="VARCHAR"/>
	</resultMap>

	<!--Reply-->
	<resultMap id="ReplyBaseMap" type="cn.zm.trip.web.domain.Reply">
		<id column="lr_id" property="lr_id" jdbcType="INTEGER"/>
		<result column="lr_name" property="lr_name" jdbcType="VARCHAR"/>
		<result column="lr_date" property="lr_date" jdbcType="VARCHAR"/>
		<result column="lr_content" property="lr_content" jdbcType="VARCHAR"/>
		<result column="lr_for_name" property="lr_for_name" jdbcType="VARCHAR"/>
		<result column="lr_for_words" property="lr_for_words" jdbcType="VARCHAR"/>
		<result column="lr_for_article_id" property="lr_for_article_id" jdbcType="VARCHAR"/>
		<result column="lr_forumId" property="lr_forumId" jdbcType="VARCHAR"/>
		<result column="lr_hotel_id" property="lr_hotel_id" jdbcType="VARCHAR"/>
	</resultMap>

	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.zm.trip.web.domain.ViewPoint">
		<!--
		  WARNING - @mbg.generated
		  This element is automatically generated by MyBatis Generator, do not modify.
		-->
		<result column="tp_vcontent" jdbcType="LONGVARCHAR" property="tpVcontent"/>
	</resultMap>
	<sql id="Example_Where_Clause">
		<!--
		  WARNING - @mbg.generated
		  This element is automatically generated by MyBatis Generator, do not modify.
		-->
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem" open="("
									         separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		<!--
		  WARNING - @mbg.generated
		  This element is automatically generated by MyBatis Generator, do not modify.
		-->
		tp_vid, tp_title, tp_vname, tp_vtype, tp_vpic, tp_vphone, tp_level, tp_price, tp_location,
		tp_zip, tp_opentime, tp_creatTime
	</sql>
	<sql id="Blob_Column_List">
		<!--
		  WARNING - @mbg.generated
		  This element is automatically generated by MyBatis Generator, do not modify.
		-->
		tp_vcontent
	</sql>
	<select id="selectByExampleWithBLOBs" parameterType="cn.zm.trip.web.domain.ViewPointExample"
	        resultMap="ResultMapWithBLOBs">
		<!--
		  WARNING - @mbg.generated
		  This element is automatically generated by MyBatis Generator, do not modify.
		-->
		select
		<if test="distinct">
			distinct
		</if>
		'false' as QUERYID,
		<include refid="Base_Column_List"/>
		,
		<include refid="Blob_Column_List"/>
		from tp_viewpoint
		<if test="_parameter != null">
			<include refid="Example_Where_Clause"/>
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>

	<!--景点列表模糊搜索-->
	<select id="viewPointSearch" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		tp_viewpoint
		<where>
			<if test="tpVid != null and tpVid != ''">
				or tp_vid = #{tpVid}
			</if>

			<if test="tpVname != null and tpVname != ''">
				or tp_vname LIKE concat('%', #{tpVname}, '%')
			</if>

			<if test="tpVtype != null and tpVtype != ''">
				or tp_vtype  LIKE concat('%', #{tpVtype}, '%')
			</if>

			<if test="tpLocation != null and tpLocation != ''">
				or tp_Location  LIKE concat('%', #{tpLocation}, '%')
			</if>
		</where>
	</select>

	<select id="selectByExample" parameterType="cn.zm.trip.web.domain.ViewPointExample" resultMap="BaseResultMap">
		<!--
		  WARNING - @mbg.generated
		  This element is automatically generated by MyBatis Generator, do not modify.
		-->
		select
		<if test="distinct">
			distinct
		</if>
		'false' as QUERYID,
		<include refid="Base_Column_List"/>
		from tp_viewpoint
		<if test="_parameter != null">
			<include refid="Example_Where_Clause"/>
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
		<!--
		  WARNING - @mbg.generated
		  This element is automatically generated by MyBatis Generator, do not modify.
		-->
		select
		<include refid="Base_Column_List"/>
		,
		<include refid="Blob_Column_List"/>
		from tp_viewpoint
		where tp_vid = #{tpVid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		<!--
		  WARNING - @mbg.generated
		  This element is automatically generated by MyBatis Generator, do not modify.
		-->
		delete from tp_viewpoint
		where tp_vid = #{tpVid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="cn.zm.trip.web.domain.ViewPoint">
		<!--
		  WARNING - @mbg.generated
		  This element is automatically generated by MyBatis Generator, do not modify.
		-->
		insert into tp_viewpoint (tp_vid, tp_title, tp_vname,
		tp_vtype, tp_vpic, tp_vphone,
		tp_level, tp_price, tp_location,
		tp_zip, tp_opentime, tp_creatTime,
		tp_vcontent)
		values (#{tpVid,jdbcType=INTEGER}, #{tpTitle,jdbcType=VARCHAR}, #{tpVname,jdbcType=VARCHAR},
		#{tpVtype,jdbcType=VARCHAR}, #{tpVpic,jdbcType=VARCHAR}, #{tpVphone,jdbcType=VARCHAR},
		#{tpLevel,jdbcType=VARCHAR}, #{tpPrice,jdbcType=INTEGER}, #{tpLocation,jdbcType=VARCHAR},
		#{tpZip,jdbcType=VARCHAR}, #{tpOpentime,jdbcType=VARCHAR}, #{tpCreattime,jdbcType=TIMESTAMP},
		#{tpVcontent,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="cn.zm.trip.web.domain.ViewPoint">
		<!--
		  WARNING - @mbg.generated
		  This element is automatically generated by MyBatis Generator, do not modify.
		-->
		insert into tp_viewpoint
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="tpVid != null">
				tp_vid,
			</if>
			<if test="tpTitle != null">
				tp_title,
			</if>
			<if test="tpVname != null">
				tp_vname,
			</if>
			<if test="tpVtype != null">
				tp_vtype,
			</if>
			<if test="tpVpic != null">
				tp_vpic,
			</if>
			<if test="tpVphone != null">
				tp_vphone,
			</if>
			<if test="tpLevel != null">
				tp_level,
			</if>
			<if test="tpPrice != null">
				tp_price,
			</if>
			<if test="tpLocation != null">
				tp_location,
			</if>
			<if test="tpZip != null">
				tp_zip,
			</if>
			<if test="tpOpentime != null">
				tp_opentime,
			</if>
			<if test="tpCreattime != null">
				tp_creatTime,
			</if>
			<if test="tpVcontent != null">
				tp_vcontent,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="tpVid != null">
				#{tpVid,jdbcType=INTEGER},
			</if>
			<if test="tpTitle != null">
				#{tpTitle,jdbcType=VARCHAR},
			</if>
			<if test="tpVname != null">
				#{tpVname,jdbcType=VARCHAR},
			</if>
			<if test="tpVtype != null">
				#{tpVtype,jdbcType=VARCHAR},
			</if>
			<if test="tpVpic != null">
				#{tpVpic,jdbcType=VARCHAR},
			</if>
			<if test="tpVphone != null">
				#{tpVphone,jdbcType=VARCHAR},
			</if>
			<if test="tpLevel != null">
				#{tpLevel,jdbcType=VARCHAR},
			</if>
			<if test="tpPrice != null">
				#{tpPrice,jdbcType=INTEGER},
			</if>
			<if test="tpLocation != null">
				#{tpLocation,jdbcType=VARCHAR},
			</if>
			<if test="tpZip != null">
				#{tpZip,jdbcType=VARCHAR},
			</if>
			<if test="tpOpentime != null">
				#{tpOpentime,jdbcType=VARCHAR},
			</if>
			<if test="tpCreattime != null">
				#{tpCreattime,jdbcType=TIMESTAMP},
			</if>
			<if test="tpVcontent != null">
				#{tpVcontent,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.zm.trip.web.domain.ViewPoint">
		<!--
		  WARNING - @mbg.generated
		  This element is automatically generated by MyBatis Generator, do not modify.
		-->
		update tp_viewpoint
		<set>
			<if test="tpTitle != null and tpTitle != ''">
				tp_title = #{tpTitle,jdbcType=VARCHAR},
			</if>
			<if test="tpVname != null and tpVname != ''">
				tp_vname = #{tpVname,jdbcType=VARCHAR},
			</if>
			<if test="tpVtype != null and tpVtype != ''">
				tp_vtype = #{tpVtype,jdbcType=VARCHAR},
			</if>
			<if test="tpVpic != null and tpVpic != ''">
				tp_vpic = #{tpVpic,jdbcType=VARCHAR},
			</if>
			<if test="tpVphone != null and tpVphone != ''">
				tp_vphone = #{tpVphone,jdbcType=VARCHAR},
			</if>
			<if test="tpLevel != null and tpLevel != ''">
				tp_level = #{tpLevel,jdbcType=VARCHAR},
			</if>
			<if test="tpPrice != null and tpPrice != ''">
				tp_price = #{tpPrice,jdbcType=INTEGER},
			</if>
			<if test="tpLocation != null and tpLocation != ''">
				tp_location = #{tpLocation,jdbcType=VARCHAR},
			</if>
			<if test="tpZip != null and tpZip != ''">
				tp_zip = #{tpZip,jdbcType=VARCHAR},
			</if>
			<if test="tpOpentime != null and tpOpentime != ''">
				tp_opentime = #{tpOpentime,jdbcType=VARCHAR},
			</if>
			<if test="tpCreattime != null and tpCreattime != ''">
				tp_creatTime = #{tpCreattime,jdbcType=TIMESTAMP},
			</if>
			<if test="tpVcontent != null and tpVcontent != ''">
				tp_vcontent = #{tpVcontent,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where tp_vid = #{tpVid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.zm.trip.web.domain.ViewPoint">
		<!--
		  WARNING - @mbg.generated
		  This element is automatically generated by MyBatis Generator, do not modify.
		-->
		update tp_viewpoint
		set tp_title = #{tpTitle,jdbcType=VARCHAR},
		tp_vname = #{tpVname,jdbcType=VARCHAR},
		tp_vtype = #{tpVtype,jdbcType=VARCHAR},
		tp_vpic = #{tpVpic,jdbcType=VARCHAR},
		tp_vphone = #{tpVphone,jdbcType=VARCHAR},
		tp_level = #{tpLevel,jdbcType=VARCHAR},
		tp_price = #{tpPrice,jdbcType=INTEGER},
		tp_location = #{tpLocation,jdbcType=VARCHAR},
		tp_zip = #{tpZip,jdbcType=VARCHAR},
		tp_opentime = #{tpOpentime,jdbcType=VARCHAR},
		tp_creatTime = #{tpCreattime,jdbcType=TIMESTAMP},
		tp_vcontent = #{tpVcontent,jdbcType=LONGVARCHAR}
		where tp_vid = #{tpVid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.zm.trip.web.domain.ViewPoint">
		<!--
		  WARNING - @mbg.generated
		  This element is automatically generated by MyBatis Generator, do not modify.
		-->
		update tp_viewpoint
		set tp_title = #{tpTitle,jdbcType=VARCHAR},
		tp_vname = #{tpVname,jdbcType=VARCHAR},
		tp_vtype = #{tpVtype,jdbcType=VARCHAR},
		tp_vpic = #{tpVpic,jdbcType=VARCHAR},
		tp_vphone = #{tpVphone,jdbcType=VARCHAR},
		tp_level = #{tpLevel,jdbcType=VARCHAR},
		tp_price = #{tpPrice,jdbcType=INTEGER},
		tp_location = #{tpLocation,jdbcType=VARCHAR},
		tp_zip = #{tpZip,jdbcType=VARCHAR},
		tp_opentime = #{tpOpentime,jdbcType=VARCHAR},
		tp_creatTime = #{tpCreattime,jdbcType=TIMESTAMP}
		where tp_vid = #{tpVid,jdbcType=INTEGER}
	</update>

	<!-- 保存留言信息 -->
	<insert id="saveWords" parameterType="cn.zm.trip.web.domain.Words">
        insert into words(
          lw_name,
          lw_date,
          lw_content,
          lw_for_name,
          lw_for_article_id,
          lw_forumId,
          lw_hotel_id
        )
        values(
          #{lw_name},
          #{lw_date},
          #{lw_content},
          #{lw_for_name},
          #{lw_for_article_id},
          #{lw_forumId},
          #{lw_hotel_id}
        )
    </insert>

	<!-- 保存回复信息 -->
	<insert id="saveReply" parameterType="cn.zm.trip.web.domain.Reply">
        insert into reply(
          lr_name,
          lr_date,
          lr_content,
          lr_for_name,
          lr_for_words,
          lr_for_reply,
          lr_for_article_id,
          lr_forumId,
          lr_hotel_id
        )
        values(
          #{lr_name},
          #{lr_date},
          #{lr_content},
          #{lr_for_name},
          #{lr_for_words},
          #{lr_for_reply},
          #{lr_for_article_id},
          #{lr_forumId},
          #{lr_hotel_id}
        )
    </insert>

	<!-- 查询所有留言信息 -->
	<select id="findByWords" resultMap="WordsBaseMap">
        select * from words
    </select>

	<!-- 查询所有回复信息 -->
	<select id="findByReply" resultMap="ReplyBaseMap">
        select * from reply
    </select>
</mapper>