<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.zm.trip.web.dao.WordsDao">
	<!--片段-->
	<!--删除用户-->
	<delete id="deleteByPrimaryKey">
		delete from
			words
		where lw_id = #{lw_id};
	</delete>


</mapper>